<!-- Navigation bar -->
<%= render "shared/navigation_bar" %>

<!-- Pop up for event creation -->
<%= render "shared/create_event_popup" %>

<div class="container-fluid">

  <!-- Show filters for events -->
  <%= render "filters" %>

  <!-- Display feed of events -->
  <%= render "feed_events" %>

</div>
