<!DOCTYPE html>
<html ng-app="profileModule">
  <head>
    <title>Unisport</title>
    <%= stylesheet_link_tag    'profile', media: 'all' %>
    <%= javascript_include_tag 'profile' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
