<div class="row" id="profile_joined_events"
    ng-controller="joinedEventsController" ng-init="init()">

   <div class="col-md-offset-2 col-md-8">
     <h1>Joined Events</h1>

     <!-- No events layout -->
     <ul class="event-list" ng-if="!hasJoinedEvents()" ng-cloak>
       <li class="event-listing">
         <div class="event_info">
           <p id="no_event_msg">Sorry, you have not joined events yet</p>
         </div>
       </li>
     </ul>

     <!-- Events layout -->
     <ul class="event-list" id="joined_events_accordion">
       <li class="event-listing panel"
           ng-repeat="event in joinedEvents
           | orderBy: 'date'">

        <!-- Event layout -->
        <div class="event_info" role="button" data-toggle="collapse"
            data-parent="#joined_events_accordion"
            href="#info_extra_{{event.id}}"
            aria-expanded="false" aria-controls="collapseExample">

          <%= render "shared/event_body" %>
        </div>

        <!-- Collapse layout (hidden layout revealed on click) -->
         <div class="collapse" id="info_extra_{{event.id}}">
           <div class="event_info_extra">

             <div>
               <p>Additional information</p>
               <div class="well">
                 <p ng-if="hasAdditionalInfos(event.additional_info)">
                   <i class="fa fa-info-circle" aria-hidden="true"></i> {{event.additional_info}}</p>
                 <p><i class="fa fa-map-marker" aria-hidden="true"></i> Meet at {{event.location}}</p>
                 <p ng-if="hasBeenConfirmed(event.status)">
                   <i class="fa fa-phone" aria-hidden="true"></i> Event organiser's number: {{event.telephone_number}}</p>

                 <p class="text-right"><i class="fa fa-user" aria-hidden="true"></i>
                   <%= link_to "/profile/{{event.creator_id}}", :class => "no_color_link" do %>
                     Posted by {{event.first_name}} {{event.last_name}}, {{event.university_name}}
                   <% end %>
                 </p>
               </div>
             </div>

           </div>
         </div>

       </li>
     </ul>

  </div>
</div>
